.BlockList {
    position: relative;
}

.BlockList:before {
    content: attr(data-title) " ";
    font-size: 4rem;
    font-weight: bold;
    color: #ededed;
    text-transform: lowercase;
    transform: rotate(-90deg);
    position: absolute;
    left: -1.6em;
    top: 1.2em;
}
